.cardContainer {
  width: 300px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
}

.cardTitle {
  text-transform: uppercase;
}

.cardDone {
  background-color: #58d358;
}
